.vertical-center{
    align-content: center !important;
    flex-wrap: wrap !important;
    display: flex !important;
    height: 100vh !important;
}

.body {
    background-image: url('../img/findex.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  .im{
width: 40px;
height: 40px;
  }
.img2 {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}


  .c{
    background-color: rgba(0, 0, 0, 0.637);
  }

.c2{
    color: rgba(255, 255, 255, 0.87);
}

.FF{
  font-size: medium;
}
