@import url(' https://fonts.cdnfonts.com/css/viaoda-libre ');
@import url('https://fonts.cdnfonts.com/css/poiret-one');

.K{
    text-decoration: none !important;
}

.Fonte{
    font-family: 'Viaoda Libre', sans-serif;
}

.testo{
        margin-top: 8%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.664);
        color:#fff;
        top: 100px;
        width: 50%;
        line-height: 300px;
        height: 300px;
        margin-left: 25%;
        align-items: center;
     }


.vertical-center {
    align-content: center !important;
    flex-wrap: wrap !important;
    display: flex !important;
    height: 100vh !important;
}

.tx{
    color:#a9a9d3fa;
    font-family: 'poiret-one';
}

.container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center; 
}
.box {
width: 400px;
height: 300px;
background: #fff;
margin-bottom: 30%;
}

.FN{
    background-color: #000000be;
}

.IC{
    width: 30%;
    height: 30%;
    align-items: left;
    margin-top: 10%;
}

.bn{
    color: #a9a9d3fa;
    background-color: #04203b;
}

.m{
    margin-top: 8% !important; 
}

.image {
    height: 90px;
    width: 100px;
    image-rendering: auto;
    margin-right: 15px;
  }

.m{
    margin-bottom: 50% !important; 
}

.b{
  cursor: pointer;
}

/* Extra small devices (portrait phones, less than 576px)*/
    @media (max-width: 575.98px) {
    .m{  
        margin-top: 15% !important;
    }
    }
    
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) {

    }
    
    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) {}
    
    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) {}
    
    /* Extra large devices (large desktops) 
     No media query since the extra-large breakpoint has no upper bound on its width */